@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
:root{
    --font-1:'Libre Baskerville', serif;
    --font-2:'Quicksand', sans-serif;
    --font-3:'Baloo Bhaina 2', cursive;
    --font-4:'Gloria Hallelujah', cursive;

}